node_modules
artifacts
cache
coverage*
typechain-types
scripts
test
.git
.idea
.gitignore
.prettierignore
.prettierrc
.solhint.json
.solhintignore
docker-buildx.sh
docker-compose.yml
Dockerfile
LICENSE
README.md
tslint.json
